@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');


body{
    text-align: center;
    margin: auto;
    border: solid black 5px;
    width: 70%;
    font-family: 'Mooli';
}


/* Pseudoelement */

header p::first-letter{
    font-size: 4rem;
}

/* Header */

header, h3, footer{
    background-color:darkslateblue;
    color:white;
    padding: 1rem;
    margin-top: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    }
 
header img{
    margin-right: 1rem;
    width: 8rem;
    border: 0.2rem solid black;
}


/* Menu */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.show li {
	display: block;
}

ul.navigation.open{
    padding: 0%;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

/* Navigation */

nav{
    background-color: black;
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
    text-decoration: none;
}

.navigation li a{
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navigation li a:hover, .active{
    background-color: gray;
}
.active{
    padding: 2rem;
}

/* Cards */

.activities li a:hover{
    color: blue;
}

.card, .info{
    border: 0.1rem solid black;
    margin: 1rem;
    color: black;
}

footer{
    margin-top: 1rem;
    padding: 0.1rem;
}


@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    #menu{
        display: none;
    }
}